.my-tours-page-container {
  margin: 0 2%;

  .heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #202445;
    font-size: 40px;
    font-weight: 600;
  }
}
